# Ignore everything by default
#*

# Allow these files/directories
# !Dockerfile
# !docker-compose.yml
# !spot_interrupt_alert.py
# !pyproject.toml
# !uv.lock
# !.python-version
# !.env  # Optional: Include if you use it
# !src/

# Exclude common noise
.git/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.vscode/
.idea/

*.key

*.zip
*.tar
.env